{% extends "base.html" %}
{% block title %} ERROR 404 {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">

			<h1><strong>
				__________ERROR 404______________
			</strong></h1>
			<main class="site-content">
<br>
				<br>
				<br><br>
				<br>
				<br>
    <img src="https://i.gifer.com/y7.gif"  />
				 <img src="https://i.gifer.com/y7.gif"  />
				    <img src="https://i.gifer.com/y7.gif"  />
				 <img src="https://i.gifer.com/y7.gif"  />
				    <img src="https://i.gifer.com/y7.gif"  />

         </p>

			</main>
		</div>
	</div>
</div>
{% endblock %}

