{% extends "base.html" %}
{% block title %} RUF-SHOP {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">




  <img src="https://www.ruf-automobile.de/site/assets/files/1/ruf-share-image.1200x630.jpg" />
			<h1>
				        Bienvenus dans RUF-SHOP
			</h1>
			<form method="post" action="traitement.php">
      <p>
       <form method="post" action="traitement.php">
   <p>
       <br>Ici, vous pourrez :
	   <ul>
				<li class="list-item">
					Chercher
				</li>
				<li class="list-item">
					Ajouter
				</li>
				<li class="list-item">
					Supprimer
				</li>
				<li class="list-item">
					Editer
				</li>
			</ul>
				tout les types de données déja présent.
   </p>

</form>
     <br><br> </p>

				<form method="post" action="traitement.php">
   <p>
       <label for="ameliorer">
       Comment pensez-vous que je puisse améliorer mon site ?
       </label>
       <br />

       <textarea name="ameliorer" id="ameliorer" rows="5" cols="40">
Ecrivez-ici !!!
       </textarea>
   </p>
</form>
</form>

		</div>
	</div>
</div>
{% endblock %}
